/* *{
    border: 1px solid red;
} */

body{
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    opacity: 0.9;
    font-size: 22px;
    margin: 0;
    border: 0;
}


/* Header with navigation */
.header{
    position: fixed;
    border-bottom: 1px solid seashell;
    width: 100%;
    height: 69px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: black;
}

.teacozy{
    height: 50px;
    margin-left: 10px;
}

.navlink{
    color: seashell;
    cursor: pointer;
    margin: 10px;
}

.navlink:hover{
    color: blue;
}


/* Mission */
.mission{
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture.container{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*4lvfr9*_ga*NDIwNTAzNjk0OS4xNjU2ODg5ODk3*_ga_3LRZM6TM9L*MTY1NzQ2MzE5MC4yMy4xLjE2NTc0NzQwNjAuNTg.');
    height: 700px;
    width: 1200px;
    margin: 70px 20px 0;
    display:flex;
    align-items: center;
}

.word.container{
    background-color: black;
    text-align: center;
    height: 125px;
    width: 1200px;
    padding: 0px 0 10px;
}



/* Tea of the Month (TOM) */
.tom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

#tom{
    margin-bottom: 0;
}

.tom.heading, .tom.container{
    width: 1000px;
}

.tom.container{
    display: inline-flex; 
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; 
    margin-top: 0;
}

.tom.pic{
    width: 300px;
    height: 200px;
    margin: 10px;
}

/* Locations */
.locations{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.locationpic{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*18tyobe*_ga*NDIwNTAzNjk0OS4xNjU2ODg5ODk3*_ga_3LRZM6TM9L*MTY1NzQ4NzIzMi4yNS4xLjE2NTc0ODkxNTguMzQ.');
    height: 500px;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
} 

.location-text{
    margin: 0;
}

.bigcontainers{
    display: inline-flex;
}

.smallcontainers{
    background-color: black;
    opacity: 0.9;
    width: 300px;
    align-items: center;
    margin: 0 20px;
}

.address{
    line-height: 35px;
}

/* Footer  */
footer{
    display: flex;
    flex-direction: column;
}

.contact{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cozycontact{
    text-align: center;
}

.copyright{
    display: flex;
    align-items: end;
    margin-left: 20px;
}